<!doctype html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>

        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  
</head>

<body class="bg-gray-100">
    
    {% block content %}
    {% endblock %}


    {% include "layouts/footer.html" %}

    <script>
        feather.replace()
    </script>
</body>
</html>