{% extends "layouts/app.html" %}
{% import 'Components/forms.html' as forms %}
{% block title %}FullStack Developer{% endblock %}
{% block head %}
  {{ super() }}
 
{% endblock %}
{% block content %}



  {% include "Components/hero.html" %}
  {% include "Components/section.html" %}
  {% include "Components/portfolio.html" %}
  {% include "Components/education.html" %}
  {% include "Components/skills.html" %}
  {% include "Components/experience.html" %}
  {% include "Components/clients.html" %}
  {% include "Components/testimonial.html" %}






{% endblock %}